*, html {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

:root {
 --primary-color: #813fff;
 --primary-hover: #c8b8e6;
 --primary-text-hover: #cecdd0;
 --secondary-color: #9e7aff;
 --background: #e2d3ff;
 --primary-icon-color: ;
 --primary-white: #eaeaea;
}

::placeholder {
 color: var(--primary-white);
}

.loading-page {
 position: relative;
 height: 90vh;
 width: 100%;
}

.brand-icon {
 position: absolute;
 top: 0;
 width: 100%;
 height: 100%;
 background-size: 100%;
}

.main-page {
 position: relative;
 height: 120vh;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 visibility: hidden;
 opacity: 0;
}

footer {
 bottom: 0;
 width: 100%;
 z-index: 10;
 display: flex;
 position: fixed;
 padding: 7px 10px;
 align-items: center;
 justify-content: space-around;
 background-color: var(--primary-color);
}

.wrapper-search {
 position: fixed;
 width: 100%;
 top: 30px;
 z-index: 10;
 opacity: .8;
 display: flex;
 align-items: center;
 justify-content: space-around;
}

.search {
 width: 65%;
 display: flex;
 padding: 5px 10px;
 align-items: center;
 border-radius: 10px;
 font-family: Helvetica;
 justify-content: space-around;
 background-color: var(--secondary-color);
}

#more-options {
 padding: 5px;
 border-radius: 10px;
 color: var(--primary-white);
 background-color: var(--secondary-color);
}

.container-option-search {
 position: fixed;
 top: 0;
 width: 100%;
 display: none;
 visibility: hidden;
 height: calc(100% + 75px);
 background-color: var(--background);
}

.container-option-search.active {
 display: block;
 visibility: visible;
}

.container-option-search .wrapper-box-options {
 top: 12%;
 height: 100%;
 width: 100%;
 position: absolute;
 border-top: 3px solid var(--primary-color);
}

.container-option-search .wrapper-box-options .box-options {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: .3s ease-in-out;
 padding: 15px 20px 10px 20px;
 justify-content: space-between;
 border-bottom: 2px solid var(--secondary-color);
}

.container-option-search .wrapper-box-options .box-options:hover {
 color: var(--primary-white);
 background-color: var(--primary-hover);
}

.container-option-search .wrapper-box-options .box-options .option-text {
 font-size: 16px;
 font-weight: 500;
}

.container-option-search .wrapper-box-options .box-options .icon {
 color: var(--primary-white);
 font-size: 20px;
 padding: 7px;
 border-radius: 50%;
 background-color: var(--secondary-color);
}

.wrapper-search .icon, .search .icon {
 font-size: 24px;
 color: var(--primary-color);
}

.search .icon {
 color: var(--primary-white);
}

.search .input {
 outline: none;
 border: none;
 width: 70%;
 font-size: 15px;
 color: var(--primary-white);
 background-color: var(--secondary-color);
}

.cta-btn {
 display: flex;
 border-radius: 50%;
 align-items: center;
 justify-content: center;
}

.cta-btn .icon {
 font-size: 23px;
 color: var(--primary-white);
}
.container-category, .container-models {
 display: flex;
 position: relative;
 align-items: center;
 justify-content: center;
 height: 350px;
 width: 100%;
 z-index: -1;
 overflow: hidden;
}

.title-category {
 font-size: 20px;
 font-weight: 500;
 padding: 3px 18px;
 letter-spacing: 3px;
 border-radius: 10px;
 font-family: Sans-Serif;
 color: var(--primary-white);
 background-color: var(--secondary-color);
}

.container-category {
 gap: 10px;
 display: flex;
 padding-top: 10px;
 align-items: center;
 flex-direction: column;
 justify-content: start;
}

.wrapper-category-items {
 display: flex;
 width: 100%;
 gap: 15px;
 height: 100%;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-around;
}

.wrapper-category-items .items .items-image {
 position: absolute;
 height: 100%;
 width: 100%;
}

.wrapper-category-items .wrapper-items {
 gap: 8px;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
}

.wrapper-category-items .wrapper-items .name-items {
 font-size: 14px;
 font-weight: 500;
}

.container-category .wrapper-items .items {
 position: relative;
 width: 65px;
 padding: 7px;
 height: 65px;
 padding: 5px;
 display: flex;
 overflow: hidden;
 border-radius: 50%;
 align-items: center;
 object-fit: contain;
 justify-content: center;
 border: 2px solid var(--secondary-color);
 background-color: var(--secondary-color);
}

#main-models {
 height: 350px;
}

.container-models .models-bg {
 position: absolute;
 width: 120%;
 height: 120%;
 object-fit: contain;
}

#models2 {
 top: -50px;
}


 
.container-page-login {
 position: fixed;
 width: 100%;
 top: 0;
 z-index: 10;
 display: none;
 visibility: hidden;
 align-items: center;
 border: 2px solid blue;
 justify-content: center;
 height: calc(100% + 50px);
 background-color: var(--background);
}

.container-page-login.actives {
 visibility: visible;
 display: flex;
 }

.container-page-login .content-login {
 display: flex;
 gap: 20px;
 width: 100%;
 align-items: center;
 flex-direction: column;
 justify-content: center;
}

.container-page-login .content-login .box-brand {
 position: relative;
 width: 200px;
 height: 100px;
}

.container-page-login .content-login .box-brand .brand-nobg {
 position: absolute;
 object-fit: contain;
 width: 100%;
 height: 100%;
}
.container-page-login .content-login .wrapper-input-number {
 width: auto;
 opacity: .7;
 height: auto;
 display: flex;
 padding: 7px 15px;
 border-radius: 10px;
 align-items: center;
 transition: .3s ease-in-out;
 justify-content: space-between;
 background-color: var(--secondary-color);
 box-shadow: -2px 4px 0px var(--primary-color);
}

.container-page-login .content-login .wrapper-input-number:hover {
 background-color: #9e7affc5;
 box-shadow: -2px 4px 0px #4d229e;
}

.container-page-login .content-login .login-sigin {
 color: var(--primary-color);
 font-size: 13px;
 font-weight: 500;
 font-family: Helvetica;
 text-transform: uppercase;
}

.container-page-login .content-login .wrapper-input-number .icon {
 font-size: 20px;
 margin-right: 10px;
 color: var(--primary-white);
}

.container-page-login .content-login .box-other-login {
 display: flex;
 gap: 25px;
}

.container-page-login .content-login .box-other-login .icon {
 font-size: 30px;
 color: var(--secondary-color);
}

.container-page-login .content-login .input-number {
 outline: none;
 height: 20;
 width: 90%;
 border: none;
 font-size: 15px;
 color: var(--primary-white);
 background-color: transparent;
}

.input-number::placeholder {
 color: var(--primary-white);
}